*.iml
.gradle
/local.properties
/.idea/
.DS_Store
.idea/
.idea
.idea/misc.xml
app/build/
libbase/build/
libcommon/build/
libres/build/
modulefunction/build/
versionplugin/build/
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release
libres/build
libcommon/build
